body{
  background-color: #333;
  color: #fff;
}
.header{
  display: flex;
  color: #fff;
  border-bottom: 1px solid #fff;
  justify-content: space-around;
}
header a{
  color: #fff;
  text-decoration: none;
}
ul{
  display: flex;
  list-style: none;
  justify-content:end;
}
.logo{
  padding: 16px 0;
}
li{
  padding-right: 16px;
}
li a svg, .title svg{
  vertical-align: top;
}
.container{
  max-width: 1500px;
  margin: 0 400px;
}
.title{
  text-align: center;
  font-size: 32px;
}
.heading p{
  font-size:22px;
}
.heading, .form{
  text-align: center;
}
.form-group input, .form-group input:hover, .form-group input:focus-visible{
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border:1px solid black;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}
.btn-block{
  display: flex;
  justify-content: center;
}
.btn{
  cursor: pointer;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  padding: 5px 50px;
  border-radius: 5px; 
}